<% not_owned_commanders.each do |commander| %>
  <%= link_to commander_path(commander.name) do %>
    <div class="commander">
      <div>
        <%= commander_icon(commander) %>
      </div>
      <div class="commander-info">
        <p><%= commander.name %></p>
        <p class="not_owned">未招集</p>
      </div>
    </div>
  <% end %>
<% end %>
