document.getElementById("average-star").innerHTML =
"星の勲章があと<strong>平均</strong><span><%= @average_star %></span>個"

document.getElementById("worst-star").innerHTML =
"星の勲章があと<strong>最悪</strong><span><%= @worst_star %></span>個"
